In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv("google_shares.csv")
df.head()

         DATA ABERTURA FECHAMENTO VARIAÇÃO MÍNIMO MÁXIMO VOLUME
0  07/07/2023    49,17      48,47    -1,42  48,42  49,19  1,92M
1  06/07/2023    49,08      49,17    -0,02  48,30  49,35  3,58M
2  05/07/2023    48,10      49,18     2,25  48,07  49,59  8,63M
3  04/07/2023    47,78      48,10     1,05  47,70  48,34  2,23M
4  03/07/2023    47,79      47,60    -0,40  47,30  47,93  2,80M

In [2]:
df.loc[df["DATA"] == "04/11/2021"]

Empty DataFrame
Columns: [DATA, ABERTURA, FECHAMENTO, VARIAÇÃO, MÍNIMO, MÁXIMO, VOLUME]
Index: []

In [ ]:
"""
Para cotação: 
document.querySelectorAll('div.cotacao > div._card-body > div > span.value')[0].innerText



"""